<div class=" container-background-gradient shadow">
  <div class="col-md-5 pb-5 mb-5 mx-auto">

    <div class="mb-5">
      <h1 class="display-5 text-gradient-secondary">Connect Sergipe</h1>

      <p class="lead fw-small fs-6 text-gradient-secondary">
        Descubra e Apoie Causas Locais. Explore ONGs e Faça a Diferença na Comunidade! 
      </p>
    </div>

    <div class="pt-3">
      <%= render 'shared/search' %>
    
      <div class="shadow-sm p-2 rounded">

        <p class="text-gradient-secondary fw-light text-start" style="font-size: 14px;">
          <i class="bi bi-tags"> Principais categorias:</i>
        </p>

        <%= render 'shared/search_by_category', categories: @categories %> 
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-4">
  <a href="#about" class="arrow-down-circle">
    <i class="bi bi-box-arrow-in-down"></i>
  </a>
</div>

<main class="border-top pt-4" style="margin-top: 80px;">

  <div id="about" class="container pt-5 border-top shadow position-relative mb-5">
      <%= render 'about' %>
  </div>

  <div id="container-ongs" class="container mb-5 pt-5">
    <h4 class="display-9 mb-5 fw-light text-center text-gradient-secondary">Conheça algumas iniciativas:</h4>

    <div class="row">
      <div class="pb-3 text-end">
        <%= link_to ongs_path, class: 'icon-link icon-link-hover' do %>
          Ver mais <i class="bi bi-arrow-right"></i>
        <% end %>
      </div>

      <%= render @ongs %>

    </div>
  </div>

</main>