
<div class="col-md-4 text-center rounded-3 pt-3 pb-3 shadow mb-4 mx-auto ms-md-5 bg-white">
  <%= image_tag ong.image, class: 'bd-placeholder-img rounded-circle', width: 160, height: 160 %>
  <h3 class="display-7 fw-medium text-gradient-secondary lh-1"><%= ong.name %></h3>

  <strong class="d-inline-block mb-2 text-gradient-secondary lh-1 font-monospace"><%= ong.category.name %></strong>
  <small class="mb-1 text-muted d-block mb-3"><%= "#{ong.city}, #{ong.address}" %></small>

  <p><%= ong.description %></p>

  <a href="#" class="btn btn-primary">Ver detalhes »</a>
</div>