<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-info-emphasis"><%= ong.category.name %></strong>
      <h3 class="mb-0"><%= ong.name %></h3>
      <div class="mb-1 text-muted"><%= "#{ong.city}, #{ong.address}" %></div>
      <p class="card-text mb-auto"><%= ong.description %></p>
      <a href="#" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Ver detalhes</a>
    </div>
    <div class="col-auto d-none d-lg-block">
      <%= image_tag ong.image, class: 'bd-placeholder-img', width: 230, height: 200 %>
    </div>
  </div>
</div>