
<div class="container">
  <%= link_to root_path, class: 'icon-link icon-link-hover mb-5' do %>
      <i class="bi bi-arrow-left"></i>Voltar
  <% end %>

  <%= render 'shared/search', categories: nil %>

  <% if @ongs.present? %>
    <p>
      <small class="fw-medium text-gradient-secondary ms-lg-5">
        <%= "#{@counting} ONG foi encontrada." if @counting == 1 %>
        <%= "#{@counting} ONGs foram encontradas." if @counting > 1 %>
      </small>
    </p>
    <div class="row">
      <%= render @ongs %>
      <%== pagy_bootstrap_nav(@pagy) if @counting > 6 %>
    </div>
  <% else %>
    <div>
      <h2 class="text-center">Nenhuma ONG encontrada.</h2>
    </div>
  <% end %>

</div>
