<!DOCTYPE html>
<html>
  <head>
    <title>OngsSergipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-1 mb-2 border-bottom">
      <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <%= image_tag 'ONGsSergipeLogo.png', width: 80 %>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 fw-medium justify-content-center mb-md-0">
        <%= link_to 'Home', root_path, class: 'nav-link px-2 text-gradient-primary' %>
        <li><a href="#" class="nav-link px-2 text-gradient-secondary">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 text-gradient-secondary">About</a></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
